.pagersizeselector
{
    margin-left: 10px;
    height: 35px;
}

.pager{
  margin-left: 10px;
  }

  .pager li{
    margin: 0 5px;
  }

.pagersize{
    float: left;
    font-weight: bold;
    font-size:medium;
    margin-right: 20px;
    margin-top: 2px;
  }

.capcopageselector{
    height: 50px;;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    position: relative;
  }
